@media only screen and (max-width: 110pm) {
  .wrapper {
    width: 90%;
  }
  
  #social {
    position: absolute;
    top: 82px;
    right: 4%;
    width: auto;
  }
  
  #social a {
    display: inline-block;
  }
}